@charset "utf-8";

@import url(./normalize.css);

/* hover */
/* 
========================================================================================
hover객체에 border line 주는 방법
1. border
2. box-shadow
3. outline
========================================================================================
*/
.header__utility a:hover{
    box-shadow: 0 0 0 1px #f8f8f8;
}
.header__utility .header__btn-lang:hover{
    box-shadow: 0 0 0 1px #f8f8f8;
}
.header__utility .header__utility--search button:hover{
    box-shadow: 0 0 0 1px #181818;
}
nav a:hover{
    box-shadow: 0 0 0 1px #181818;
}
nav button:hover{
    box-shadow: 0 0 0 1px #181818;
}
.mypage__btn-menu:hover{
    border: 1px solid #181818;
    padding-top: 0px;
    border-radius: 0;
    background-color: #fff;
    color: #186686;
    text-decoration: underline;
    font-weight: 700;
}
.mypage__submenu li :hover {
    box-shadow: 0 0 0 1px #181818;
}
.mileage__period--search input[type="radio"] + label:hover {
    box-shadow: 0 0 0 1px #181818;
    cursor: pointer;
}
.mileage__btn-calendar:hover {
    box-shadow: 0 0 0 1px #181818;
}
.mileage__calendar .btn-inquiry:hover{
    box-shadow: 0 0 0 1px #181818;
}
.mileage__btn-period:hover {
    box-shadow: 0 0 0 1px #181818;
}
.mileage__btn-print-preview:hover {
    box-shadow: 0 0 0 1px #181818;
}
.mileage__btn-category:hover {
    border: 1px solid #181818;
    border-radius: 0;
}
.mileage__category-item--active .mileage__btn-category:hover {
    border: 1px solid #181818;
}
.footer__category--submenu li a:hover {
    outline: 1px dotted #f8f8f8;
}
.footer__social-network li:hover {
    outline: 1px dotted #f8f8f8;
}

/* common.css */
ul {
    padding: 0;
    margin: 0;
}
li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #000000;
}
html {
    font-size: 10px;
    font-family: "Open Sans", Malgun Gothic, "맑은 고딕", Dotum, Gulim, Verdana;
}
/* 나중에 추가한 사항이라 적용하면 아래 값 전부 수정 필요
body {
    font-size: 16px;
} 
*/
body, body *, body *::after, body *::before {
    box-sizing: border-box;
}
p {
    padding: 0;
    margin: 0;
}

/* module.css */
.a11y-hidden,
legend {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

/* 
========================================================================================
        ** header **
    1. 지역 선택 버튼 옆에 down 아이콘
    2. active 효과 필요
    3. 검색창 focus 했을 때 왼쪽 메뉴 위치 변화 필요
        ** main, footer or nav **
    1. menu tab과 관련된 다양한 컴포넌트의 고민이 필요
    2. 본 .css에서 position을 이용한 방법 외에 다른 방법 찾아보고 만들어보기
    3. menu tab 이외에 로그인폼, 검색폼 등 다양한 활용이 필요.
========================================================================================
*/

/* header */
/* header__utility--select */
.header {
    position: relative;
    background-color: #434343;
}
.header__utility {
    display: flex;
    justify-content: space-between;
    height: 35px;
}
.header__utility--select {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__btn-lang {
    background-color: #434343;
    border: none;
    color: white;
    padding: 8px 10px 8px 10px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 700;
}
.header__btn-lang .icon-down {
    display: inline-block;
    background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/btn-regionSelect.png) no-repeat;
    width: 20px;
    height: 10px;
    background-position: 3px 4px;
}
.header__utility--selected span,
.header__utility--selected a {
    display: inline-block;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 5px;
}
.header__utility--selected span::after {
    content: "|";
    padding-left: 10px;
    color: white;
}
/* .header__utility--select-form */
.header__utility--select-form {
    position: absolute;
    top: 30px;
    left: 3px;
    background-color: white;
    border: 1px solid #6e7a7e;
    border-radius: 0 4px 4px 4px;
    width: 430px;
    height: 100px;
    padding: 10px 15px 20px 15px;
    vertical-align: bottom;
    display: none;
    box-shadow: 1px 1px 0 0 #c6c6c6;
}
.header__utility--select-form {
    display: none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-user-select: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.header__utility--country {
    float: left;
    width: 180px;
    padding-top: 10px;
}
.header__utility--language {
    float: left;
    width: 160px;
    padding: 10px 11px 0 10px;
}
.header__utility--country label,
.header__utility--language label {
    display: block;
    color: #666;
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 4px;
    line-height: 20px;
}
.header__utility--country select,
.header__utility--language select {
    background-color: #f8f8f8;
    border: 1px solid #919191;
    border-right: none;
    height: 30px;
    width: 100%;
    font-size: 1.2rem;
    border-radius: unset;
    padding-left: 10px;
    background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/components/schedule-search/select-arrow-fallback.png) no-repeat;
    background-position: right center;

} 
.btn-select {
    position: absolute;
    top: 44px;
    right: 10px;
    color: #fff;
    font-size: 1.4rem;
    background: #0180a3;
    border: 1px solid #136186;
    border-radius: 3px;
    padding: 6px 20px;

}
.btn-closed {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 14px;
    height: 14px;
    background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/components/utilitynav/btn_siteselect_close.png) no-repeat;
    background-position: 50% 50%;
    border: none;
}
.header__utility--menu-search {
    margin-top: 10px;
    padding-right: 220px;
    padding-top: 2px;
}
.header__utility--menu li,
.header__utility--menu a {
    display: inline-block;
}
.header__utility--menu a {
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
}
.header__utility--menu li:nth-child(n+2)::before {
    content: "|";
    margin: 0 15px;
    color: white;
}
.header__utility--search {
    border: none;
    position: absolute;
    top: 1px;
    right: 1px;
}
.header__utility--search input {
    border: none;
    width: 190px;
    margin: 0;
    padding: 7px;
}

.header__utility--menu-search:focus {
    width: 500px;
}

.header__utility--search button {
    position: absolute;
    border: none;
    width: 20px;
    height: 20px;
    top: 7px;
    right: 10px;
    background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/icon_n_search.png) no-repeat;
    cursor: pointer;
}

/* nav */
/* nav__logo */
.nav {
    height: 60px;
    border-bottom: 1px solid #ccc;
}
.nav__logo {
    float: left;
    margin: 0;
    padding: 15px 0 0 20px;
}
.koreanair-logo {
    width: 176px;
    height: 33px;
    background-image: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/components/bookingbar/top-nav-koreanair.png);
    display: inline-block;
}
.skyteam-logo {
    width: 37px;
    height: 33px;
    background-image: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/components/bookingbar/top-nav-koreanair.png);
    display: inline-block;
}
.skyteam-logo {
    background-position: 100% 0;
}
    /* nav__menu */
.nav__menu {
    float: right;
    padding: 0;
    margin: 15px 10px 0 0;
    position: relative;
}
.nav__menu--item {
    float: left;
    margin-left: 20px;
}
.nav__btn-menu {
    display: inline-block;
    border: none;
    font-size: 1.8rem;
    font-weight: 400;
    cursor: pointer;
}
.nav__btn-menu1 {
    margin: 0;
    padding: 6px 0 7px 40px;
    background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/components/bookingbar/top-nav-topMenu1.png) no-repeat;
    background-position: 0% 10%;
}
.nav__btn-menu2 {
    margin: 0;
    padding: 6px 0 7px 40px;
    background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/components/bookingbar/top-nav-topMenu2.png) no-repeat;
}
.nav__btn-menu3 {
    margin: 0;
    padding: 6px 0 7px 40px;
    background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/components/bookingbar/top-nav-topMenu3.png) no-repeat;
}
.nav__btn-menu4 {
    margin: 0;
    padding: 6px 0 7px 40px;
    background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/components/bookingbar/top-nav-topMenu4.png) no-repeat;
}
.nav__menu--submenu {
    float: left;
}
.nav__menu--submenu li {
    padding: 7px 0;
}
.nav__menu--submenu li:nth-child(1) a {
    color: #0180a3;
    font-weight: 700;
}
.nav__menu--subitem1 .nav__menu--submenu4 li:nth-child(4) a {
    color: #0180a3;
    font-weight: 700;
}
.nav__menu--subitem1 .nav__menu--submenu4 li:nth-child(4) {
    padding-top: 20px;
}
.nav__menu--subitem3 .nav__menu--submenu1 li:last-child a,
.nav__menu--subitem3 .nav__menu--submenu2 li:last-child a,
.nav__menu--subitem3 .nav__menu--submenu3 li:last-child a {
    color: #0180a3;
    font-weight: 700;
}
.nav__menu--subitem3 .nav__menu--submenu1 li:last-child,
.nav__menu--subitem3 .nav__menu--submenu2 li:last-child,
.nav__menu--subitem3 .nav__menu--submenu3 li:last-child {
    padding-top: 20px;
}
.nav__menu--subitem4 .nav__menu--submenu1 li:last-child a,
.nav__menu--subitem4 .nav__menu--submenu2 li:last-child a {
    color: #0180a3;
    font-weight: 700;
}
.nav__menu--subitem1,
.nav__menu--subitem2,
.nav__menu--subitem3,
.nav__menu--subitem4 {
    position: absolute;
    top: 44px;
    right: 0;
    border: 1px solid #ccc;
    font-size: 1.4rem;
    padding: 20px 30px;
    background-color: #fff;
    z-index: 1;
}
.nav__menu--subitem1 {
    width: 920px;
}
.nav__menu--subitem2 {
    width: 840px;
}
.nav__menu--subitem3 {
    width: 930px;
}
.nav__menu--subitem4 {
    width: 760px;
}
.nav__menu--submenu {
    padding-right: 79px;
}
.nav__menu--submenu5 {
    padding-right: 0;
}
.nav__menu--item .btn-closed {
    position: absolute;
    top: 25px;
    right: 15px;
    border: none;
    width: 15px;
    height: 15px;
    background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/close-button.jpg) no-repeat;
}

/* main */
/* mypage */
/* mypage__heading */
.mypage {
    width: 100%;
    padding: calc( 100% - 97% ) calc( 100% - 95% );
}
.mypage__heading {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    width: 200px;
}
.mypage__profile {
    display: inline-block;
    vertical-align: bottom;
}
.mypage__profile li {
    float: left;
    font-size: 2rem;
}
.mypage__profile :first-child {
    padding-right: 15px;
}
.mypage__profile :nth-child(n+2) {
    font-size: 1.5rem;
    padding-top: 5px;
}
.mypage__profile li:nth-child(n+3)::before {
    content: "|";
    margin: 0 15px;
}

/* mypage__menu */
.mypage__menu {
    background-color: #0180a3;
    border-radius: 5px 5px 0 0;
    position: relative;
    padding: 50px 0 0 0;
    margin-top: 20px;
}
.mypage__menu-act .mypage__btn-menu {
    background-color: white;
    border-radius: 5px 5px 0 0;
    color: #186686;
    font-weight: 600;
    text-decoration: underline;
}
.mypage__btn-menu {
    cursor: pointer;
    font-weight: 400;
    font-size: 1.4rem;
    width: 14.2%;
    background-color: #0180a3;
    color: #fff;
    border: none;
    border-radius: 5px 5px 0 0;
    line-height: 44px;
    padding-top: 1px;
    text-align: center;
    position: absolute;
    top: 5px;
}
.mypage__menu-item:nth-child(1) .mypage__btn-menu {
    left: 0.3%;
}
.mypage__menu-item:nth-child(2) .mypage__btn-menu {
    left: 14.5%;
}
.mypage__menu-item:nth-child(3) .mypage__btn-menu {
    left: 28.7%;
}
.mypage__menu-item:nth-child(4) .mypage__btn-menu {
    left: 42.9%;
}
.mypage__menu-item:nth-child(5) .mypage__btn-menu {
    left: 57.1%;
}
.mypage__menu-item:nth-child(6) .mypage__btn-menu {
    left: 71.3%;
}
.mypage__menu-item:nth-child(7) .mypage__btn-menu {
    left: 85.5%;
}
.mypage__submenu {
    display: none;
    width: 100%;
    font-size: 25px;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
}
.mypage__submenu::after {
    display: block;
    content: "";
    clear: both;
}
.mypage__menu-act .mypage__submenu {
    display: block;
}
.mypage__submenu li {
    float: left;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 18px 25px;
}
.mypage__submenu li::before {
    content: "";
    background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/tab_menu_bl.png) no-repeat;
    display: inline-block;
    width: 8px;
    height: 8px;
}
.underline_check {
    text-decoration: underline;
    font-weight: 700;
}

    /* mileage__detail */
.mileage {
    margin-top: 35px;
}
.mileage__heading {
    margin: 0;
    padding: 0;
    font-size: 2.2rem;
    font-weight: 400;
}
.mileage__detail {
    position: relative;
    background-color: #eaeae9;
    padding: 10px 30px 50px 30px;
    margin-top: 20px;
}
.mileage__detail--list {
    padding: 10px calc( 100% - 80% ) 40px 10px;
    border-bottom: 1px solid #919191;
}
.mileage__detail--list li {
    float: right;
    width: 45%;
    margin: 0 1%;
    line-height: 20px;
    border-bottom: 1px solid #6e7a7e;
}
.mileage__detail--list li:first-child {
    float: left;
    border-color: #0180a3;
    padding: 20px 0;
    margin: 20px 0 40px 0;
}
.mileage__detail--list li:nth-child(n+2) {
    padding: 20px 0;
    margin-top: 20px;
    margin-left: 50px;
    color: #666;
}
.mileage__detail h4 {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 1.7rem;
    font-weight: 700;
}
.mileage__detail--list li span {
    float: right;
    font-size: 1.7rem;
    font-weight: 700;
}
.mileage__btn-period {
    cursor: pointer;
    position: absolute;
    top: 55px;
    right: 40px;
    border: 2px solid #0180a3;
    border-radius: 4px;
    background-color: white;
    box-shadow: 1px 1px 0 0 #919191;
    width: 150px;
    height: 45px;
    font-size: 1.6rem;
    color: #0180a3;
}

    /* mileage__period */
.mileage__period {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    padding: 0 20px;
}
.mileage__period .period-heading {
    font-size: 1.6rem;
    font-weight: 400;
}
.mileage__period--search input[type="radio"] {
    display:none;
}
.mileage__period--search input[type="radio"] + label span {
    display: inline-block;
    background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/radio-all.png) no-repeat;
    background-position: 0 0;
    width: 20px;
    height: 16px;
    cursor: pointer;
    vertical-align: top;
}
.mileage__period--search input[type="radio"]:checked + label span {
    background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/radio-all.png) no-repeat;
    background-position: 0 -16px;
    cursor: pointer;
}

.mileage__period--search li:first-child {
    padding-left: 20px;
    padding-top: 1px;
}
.mileage__period--search li {
    display: inline-block;
    font-size: 1.4rem;
    padding: 0 12px;
    cursor: pointer;
}
.mileage__calendar {
    position: relative;
}
.mileage__calendar fieldset {
    border: none;
    padding: 10px 0 0 100px;
}
.mileage__prev-calendar,
.mileage__next-calendar {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: white;
    padding: 5px;
    /* padding 수정 */
}
.mileage__prev-calendar input,
.mileage__next-calendar input {
    border: none;
    width: 130px;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.mileage__btn-calendar {
    box-sizing: border-box;
    border: none;
    display: inline-block;
    overflow: hidden;
    padding: 0 0 0 20px;
    background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/components/bookingbar/icon-tripDetails.gif) no-repeat;
    background-position: 75% 9%;
    height: 20px;
    width: 20px;
    /* line-height: 20px; */
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
}
.mileage__calendar fieldset span {
    display: inline-block;
    padding: 0 3px;
    font-size: 1.4rem;
    font-weight: 400;
}
.mileage__calendar .btn-inquiry {
    display: inline-block;
    background-color: white;
    border: 2px solid #0180a3;
    border-radius: 3px;
    width: 55px;
    height: 40px;
    margin-left: 10px;
    font-size: 1.6rem;
    color: #0180a3;
    box-shadow: 1px 1px 0 0 #919191;
    cursor: pointer;
}
.mileage__btn-print-preview {
    position: absolute;
    top: 300px;
    right: 40px;
    padding: 8px 0 10px 40px;
    border: none;
    text-decoration: underline;
    font-size: 1.6rem;
    background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/components/profile/printer.png) no-repeat;
    background-color: #eaeae9;
    cursor: pointer;
}

/* mileage__category */
.mileage__category {
    list-style: none;
    padding: 50px 0 0 0;
    margin: 15px 0 0 0;
    position: relative;
}
.mileage__btn-category {
    cursor: pointer;
    color: #0180a3;
    font-weight: 700;
    font-size: 1.4rem;
    background-color: #fbfbfb;
    border: 1px solid #ccdcdf;
    border-radius: 5px 5px 0 0;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 0;
    width: 12.5%;
}
.mileage__category-item--active .mileage__btn-category {
    background-color: #0180a3;
    border-color:#0180a3;
    color: #fff;
    text-decoration: underline;
}
.mileage__category-item:nth-child(1) .mileage__btn-category {
    left: 0%;
}
.mileage__category-item:nth-child(2) .mileage__btn-category {
    left: 12.5%;
}
.mileage__category-item:nth-child(3) .mileage__btn-category {
    left: 25%;
}
.mileage__category-item:nth-child(4) .mileage__btn-category {
    left: 37.5%;
}
.mileage__category-item:nth-child(5) .mileage__btn-category {
    left: 50%;
}
.mileage__category-item:nth-child(6) .mileage__btn-category {
    left: 62.5%;
}
.mileage__category-item:nth-child(7) .mileage__btn-category {
    left: 75%;
}
.mileage__category-item:nth-child(8) .mileage__btn-category {
    left: 87.5%;
}

.mileage__submenu {
    display: none;
    margin-top: 20px;
    text-align: left;
    line-height: 20px;
    font-size: 1.2rem;
}
.mileage__category--koreanair,
.mileage__category--skyteam,
.mileage__category--cooperate-airline,
.mileage__category--credit,
.mileage__category--cooperate-credit,
.mileage__category--etc,
.mileage__category--mileage,
.mileage__category--whole-sub,
.mileage__category--detail-notice {
    padding-left: 20px;
    margin-bottom: 20px;
}
.mileage__submenu::after {
    display: block;
    content: "";
    clear: both;
}
.mileage__category-item--active .mileage__submenu {
    display: block;
}

.mileage__table--category {
    width: 100%;
}
th {
    font-size: 1.4rem;
    text-align: center;
    color: #0180a3;
    line-height: 50px;
}
tr>td {
    background-color: #eaeae9;
    font-size: 1.4rem;
    line-height: 50px;
    text-align: center;
} 

/* footer */
.footer {
    background-color: #2e4964;
    width: 100%;
    /* margin: 0; */
    padding: 0;
}
.footer__category {
    width: 1080px;
    margin: 0 auto;
    padding: 50px 0 100px 0;
    color: #fff;
}
.footer__category--heading {
    font-size: 1.4rem;
    font-weight: 400;
}
.footer__category-item {
    padding-bottom: 20px;
}
.footer__category--menu {
    display: inline-block;
    vertical-align: top;
    margin-right: 100px;
}
.footer__category--submenu {
    border-left: 1px solid #fff;
    padding-left: 10px;
}
.footer__category--submenu a {
    font-size: 1.2rem;
    line-height: 20px;
    color: white;   
}
.certification img {
    width: 20px;
    height: 20px;
    vertical-align: top;
}
.footer__address-copy {
    float: left;
    overflow: hidden;
    margin-right: 80px;
}
.footer__address {
    display: inline-block;
    width: 600px;
}
.footer__address li,
.footer__copyright li {
    display: inline-block;
    font-size: 1.1rem;
    color: white;
    line-height: 20px;
}
address,
address a {
    color: white;
    font-style: normal;
}
.footer__social-network li{
    display: inline-block;
}

/* ========================================================================================
** 문제점 및 개선, 실천 방향 **
1. 전체적으로 position 남발 -> 레이아웃 무너짐
2. width에 고정값(px)을 적용하면 크기가 다른 디바이스에서 레이아웃 무너짐 -> % fr calc()...
3. 1, 2번이 서로 관련되어 있는 문제
4. height 고정값은 가급적 안주는 것이 좋음..하면서 느낌(검색검색검색)
5 .float 사용 후 clearfix 잊지않고 체크
6. em, rem단위 (r=root)에 대한 사용법 익숙해지기
7. 추후 중복된 코드 병합하기(파일 내 또는 public.css, common.css 등 모듈화)
8. 수정작업으로 사용하지 않거나 잘못된 코드 바로바로 지우거나 주석 처리하기
9. 나만의 코딩컨벤션을 만들자(규칙성!!!) -> 앞으로의 협업과도 연관
10. 여러 파일을 분할하여 생성 및 관리하는 연습 필요
11. GUI보단 terminal(CLI)에 익숙해지기
======================================================================================== */


